*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
    font-family: 'Roboto', sans-serif;
}
#header{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
#header .header__logo img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
#header .header__menu ul {
    display: flex;
    list-style: none;

}
#header .header__menu ul li a {
    text-decoration: none;
    margin: 0 15px;
    background-color: #8f00ff;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
#header .header__menu ul li a:hover {
    background-color: rgb(72, 208, 208);
}
@media (max-width: 576px) {
    #header {
        flex-direction: column;
    }

}
.titulo{
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-home.png");
    background-size: 100% 100%;
    font-size: 40px;
}

.ctacontacto{
    color: black;
    text-align: center;
    border: 20px;
    font-size: 30px;
    text-decoration: none;
    background: #336cff;
    border-radius: 5px;
    
}
.ctacontacto:hover {
    background: #444;
}


.testimonio .test-title {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, aqua, yellow);

}
.grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;

}
.grid > article {
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    width: 250px;
    transition: transform .3s;
}
.grid > article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.grid > article img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.text {
    padding: 0 20px 20px;
}
.text h3 {
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

.grid > article{
    text-align: center;
}
.banner2{
    width: 100%;
    background: #336cff;
    clear: both;
    padding: 30px 50px 30px 50px;
    text-align: center;
    box-sizing: border-box;
}
.banner2:hover {
    background: #8f00ff;
}
.banner2 h3{
    color: white;
    font-size: 30px;
}
.banner2 a{
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    font-size: 30px;
}
.banner2 a:hover{
    color: #fff;
}
.quehacemos {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}


#gridhacemos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 20px;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;

}
#gridhacemos img{
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;

}
#gridhacemos .icon-hacemos{
    justify-content: space-between;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

#gridhacemos h3 {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(to left, aqua, yellow);
}
#gridhacemos p{
    text-align: justify;
    background-color: turquoise;
    border-radius: 5px;
    padding: 10px
 }
.reu h2 {
    font-size: 40px;
    text-align: center;
    
}
.reu h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}


.contText h2{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  
}
.contText h3{
    text-align: center;
    font-size: 20px


}
.contText{
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-contacto-estrategia.png");
    background-size: 100% 100%;
    font-size: 40px;
}
.quienesSomos {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-nosotros.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}
#equipo {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding-top: 20px;
    gap: 5px;
    align-items:center;
    align-content: center;

}
.investigacion {
    padding-bottom: 50px;
}
.implementacion{
    padding-bottom: 50px;
}
.estrategia {
    padding-bottom: 50px;
}
.price-col{
    display: flex;
    justify-content: space-between;
    
}
@media (max-width: 576px) {
    .price-col {
        flex-direction: column;
    }
    }

#precios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
   
}
#precios img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    
}
#precios h3{
    font-size: 25px;
    background-image: radial-gradient(yellow, aqua);
    border-radius: 5px;
    padding: 10px;
    
}
#precios ul li{
    font-size: 20px;
    
}
#precios ul{
    border-radius: 5px;
    background-color: turquoise;
}

.preciosPage {
    color: #336cff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-precio-3.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}



.serviciosPage {
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-servicios-2.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}
#formhome {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
.datosPersonales {
    font-size: 25px;
    padding-bottom: 10px;
    
}
.pie-pagina{
    width: 100%;
    background-color: rgb(25, 25, 88);
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: rgb(143, 0, 255);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo1 .red-social a:hover{
    color: gray;
}
.pie-pagina .grupo2 {
    background-color: rgb(51, 108, 255);
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina .grupo2 small{
    font-size: 15px;
}

@media (max-width: 768px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
@media (max-width: 576px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }

}