*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}
#header .header__logo img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
#header .header__menu ul {
    display: flex;
    list-style: none;

}
#header .header__menu ul li a {
    text-decoration: none;
    margin: 0 15px;
    background-color: #8f00ff;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
#header .header__menu ul li a:hover {
    background-color: rgb(72, 208, 208);
}

.titulo{
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-home.png");
    background-size: 100% 100%;
    font-size: 40px;



}
.ctacontacto{
    color: black;
    text-align: center;
    border: 20px;
    font-size: 30px;
    text-decoration: none;
    background: #336cff;
    border-radius: 5px;
    
}
.ctacontacto:hover {
    background: #444;
}

.testimonio .test-title {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, aqua, yellow);

}
#gridtest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 20px;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;

}
#gridtest img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#gridtest .icon-testimonio{
    justify-content: space-between;
}
#gridtest .test-name {
    border-radius: 5px;
    padding: 10px;
    background-image: radial-gradient(yellow, aqua);
}
#gridtest p{
    text-align: justify;
    background-color: turquoise;
    border-radius: 5px;
    padding: 10px
}
.banner2{
    width: 100%;
    background: #336cff;
    clear: both;
    padding: 30px 50px 30px 50px;
    text-align: center;
    box-sizing: border-box;
}
.banner2:hover {
    background: #8f00ff;
}
.banner2 h3{
    color: white;
    font-size: 30px;
}
.banner2 a{
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    font-size: 30px;
}
.banner2 a:hover{
    color: #fff;
}
.quehacemos {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}


#gridhacemos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 20px;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;

}
#gridhacemos img{
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;

}
#gridhacemos .icon-hacemos{
    justify-content: space-between;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

#gridhacemos h3 {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    background-image: linear-gradient(to left, aqua, yellow);
}
#gridhacemos p{
    text-align: justify;
    background-color: turquoise;
    border-radius: 5px;
    padding: 10px
 }
.reu h2 {
    font-size: 40px;
    text-align: center;
    
}
.reu h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}


#footer{
    display: grid;
    grid-template-areas: 
    "logo menu rrss"
    "susc form form";
    gap: 0;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.footer-logo {
    background-color: rgb(25, 25, 88);
    grid-area: logo;
}
.footer-menu {
    background-color: rgb(25, 25, 88);
    grid-area: menu;
}
.footer-menu nav ul {
    list-style: none;
}
.footer-menu nav ul li a{
    display: flex;
    text-decoration: none;
    margin: 5px;
    background-color: #8f00ff;
    padding: 5px 5px;
    border-radius: 5px;
    color: white;
}
.footer-rrss {
    background-color: rgb(25, 25, 88);
    grid-area: rrss;
}

.footer-nl {
    background-color: rgb(25, 25, 88);
    grid-area: susc;
    color: white;
}
.footer-form {
    background-color: rgb(25, 25, 88);
    grid-area: form;
}
.contText h2{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  
}
.contText h3{
    text-align: center;
    font-size: 20px


}
.contText{
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-contacto-estrategia.png");
    background-size: 100% 100%;
    font-size: 40px;
}
.quienesSomos {
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-nosotros.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}
#equipo {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding-top: 20px;
    gap: 5px;
    align-items:center;
    align-content: center;

}
.investigacion {
    padding-bottom: 50px;
}
.implementacion{
    padding-bottom: 50px;
}
.estrategia {
    padding-bottom: 50px;
}

#precios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
   
}
#precios img{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
#precios h3{
    font-size: 25px;
    background-image: radial-gradient(yellow, aqua);
    border-radius: 5px;
    padding: 10px;
    
}
#precios ul li{
    font-size: 20px;
    
}
#precios ul{
    border-radius: 5px;
    background-color: turquoise;
}

.preciosPage {
    color: #336cff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-precio-3.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}



.serviciosPage {
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 250px;
    background-image: url("../images/banner-servicios-2.jpeg");
    background-size: 100% 100%;
    font-size: 40px;
}
#formhome {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
.datosPersonales {
    font-size: 25px;
    padding-bottom: 10px;
    
}
