*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
        .header-logo{
            padding-top: 20px;
        }
        .header-list{
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 20px;
            
        }
        .header-item{
            margin: 15px;
        }
        .header-link{
            text-decoration: none;
            color: white;
            background-color: #8f00ff;
            border-radius: 5px;
            padding: 5px 15px;
        }
        .header-link:hover{
            background-color: #4f137d;
            color: white;
        }
}
.container-hero{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .hero-top{
            h1{
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 48px;
                text-align: center;
            }
            h2{
                font-size: 48px;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
            } 
            p{
                margin-bottom: 20px;
                font-size: 30px;
                text-align: center;
            }
            .hero-btn{
                align-items: center;
                font-size: 25px;
                justify-content: center;
                display: flex;
            
                }
                .hero-btn-cta{
                    text-decoration: none;
                    color: white;
                    background-color: turquoise;
                    border-radius: 5px;
                    padding: 10px 15px;
                    margin-bottom: 20px;
                }
                .hero-btn-cta:hover{
                    background-color: aquamarine;
                    color: gray;
                }
                  

        }
        .hero-img{
            img{
                width: 90%;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
            }
        }
        .hero-img-nosotros img{
            width: 300px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .hero-img-servicios img{
            width: 300px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .hero-img-precios img{
            width: 300px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .hero-img-contacto img{
            width: 300px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
}
.testimonio{
    background-image: linear-gradient(to right, aqua, yellow);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
        .test-title {
            font-size: 30px;
            text-align: center; 
    }
}
.grid {
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
        article {
            background: #eee5e9;
            border: none;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
            border-radius: 20px;
            width: 250px;
            transition: transform .3s;
            align-items: center;
            text-align: center;
        }
        article:hover {
            transform: translateY(-15px);
            box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
        }
        img {
            width: 150px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            
        }
        .text {
            padding: 0 20px 20px;
        }
            h3 {
                text-transform: uppercase;
            }

}
.banner2{
    width: 100%;
    background: #336cff;
    clear: both;
    padding: 30px 50px 30px 50px;
    text-align: center;
    box-sizing: border-box;
        h3{
            color: white;
            font-size: 30px;
        }
        a{
            text-decoration: none;
            color: #444;
            text-transform: uppercase;
            font-size: 30px;
        }
        a:hover{
            color: #fff;
        }
}
.banner2:hover {
    background: #8f00ff;
}
.quehacemos {
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
    text-decoration-line: underline;
}
.reu{
    display: flex;
    flex-direction: column;
        h2 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            font-size: 40px;
            margin-top: 20px;
            background-image: linear-gradient(to right, aqua, yellow);
            width: 100%;
        }
        h3 {
            font-size: 25px;
            text-align: center;
            padding-top: 20px;
            margin-bottom: 20px;
        }
}
.form{
    background-color: #336cff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 4em 3em;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
    margin-bottom: 20px;
        h2{
            font-size: 2rem;
            margin-bottom: .5em;
        }
        p{
            font-size: 25px;
            margin-bottom: 20px;
        }
        .form-label{
            font-size: 20px;
        }
        .form-input{
            width: 100%;
        }
        .form-submit {
            padding: 5px 20px;
            border-radius: 5px;
        }
}
.pie-pagina{
    width: 100%;
    background-color: rgb(25, 25, 88);
        .grupo1{
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 10px;
            padding: 0px 0px;
        }
        .box{
            figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                    img{
                        width: 200px;
                    }
            }
            h2{
                color: white;
                margin-bottom: 25px;
                font-size: 25px;
                text-align: center;
            }
            p{
                color: #efefef;
                margin-bottom: 10px;
                text-align: center;
                padding: 10px;
            }
            .red-social{
                display: flex;
                align-items: center;
                justify-content: center;
                    a{
                        display: inline-block;
                        text-decoration: none;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        color: white;
                        margin-right: 10px;
                        background-color: rgb(143, 0, 255);
                        text-align: center;
                        transition: all 300ms ease;
                    }
                    a:hover{
                        color: gray;
                    }
            }
        }
        .grupo2 {
            background-color: rgb(51, 108, 255);
            padding: 15px 10px;
            text-align: center;
            color: white;
                small{
                    font-size: 15px;
                }
        }
}
.equipo {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    padding-top: 20px;
    gap: 10px;
    align-items:center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
        .box-equipo{
            text-align: center;
        }
            h2{
                margin-bottom: 10px;
            }
}
.container-servicios{
    display: flex;
    flex-direction: column;
    margin: 10px;
        .servicios{
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
                i{
                    margin: 10px 10px;
                }
        }
}
.price-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
        .card{
            .card-body{
                text-align: center;
                padding: 20px;
                margin-top: 20px;
            }
        }
}
@media screen and (min-width: 576px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        .header-list{
            display: flex;
            flex-direction: row;
        }
    }
    .container-hero{
        display: flex;
        flex-direction: row;
            .hero-top{
                h1{
                    text-align: left;
                }
                p{
                    text-align: left;
                }
                .hero-btn{  
                    float: left;
                }
                h2{
                    text-align: left;
                }
            }
            .hero-img-nosotros{
                img{
                    width: 700px;
                }
            }
            .hero-img-servicios{
                img{
                    width: 700px;
                }
            }
            .hero-img-precios{
                img{
                    width: 700px;
                }
            }
            .hero-img-contacto{
                img{
                    width: 700px;
                }
            }
    }
    .testimonio {
        .test-title{
            font-size: 50px;
        }
    }
    .grid{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        justify-content: space-around;
            article {
                width: 400px;
                align-items: center;
                justify-content: center;
                margin-bottom: 70px;
                    h3{
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                    img {
                        width: 150px;
                    }
            }
    }
    .quehacemos{
        h2{
            font-size: 40px;
        }
    }
    .reu{
        h2{
            font-size: 40px;
        }
        h3{
            font-size: 30px;
        }
    }
    .form{
        max-width: 900px;
            .form-container{
                .form-group{
                    margin: 20px;
                    display: flex;
                    flex-direction: row;
                        .form-label{
                            padding-right: 10px;
                        }
                }
            }
    }
    .pie-pagina{
        .grupo1{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 20px;
            align-items: center;
                .box{
                    h2{
                        text-align: left;
                        padding-left: 7px;
                    }
                    p{
                        text-align: left;
                    }
                }
        }
    }
    .equipo{
        display: flex;
        flex-wrap: row;
        margin: 40px;
        gap: 10px;
    }
    .container-servicios{
        display: flex;
        flex-direction: row;
        margin: 50px;
            .servicios{
                width: 450px;
                    p{
                        margin: 15px;
                    }
            }
            
    }
}